.centered-image{
  float: center;
  width: 37%;
  height: auto;
  margin: auto;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: lightpink;
}
.box {

}
.column1 {

}

.column2 {

}

.boldd {

}
